.Application {
    .appIcon{
        background-color: #484157;
        width: 45px;
        height: 45px;
        border-radius: 10px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        cursor: pointer;
        > *{
            font-size: 1.5rem;
            color: #fff;
            z-index: 1;
        }
    }

    .name{
        white-space: nowrap;
        color: #fff;
    }

    /* modal custom */
    .ModalWrap{
        position: absolute;
        top: 0;
        z-index: 999;

        transition: 2s ease-in-out;

        width: 80vw;
        height: 90vh;
        // overflow: visible;
    }
    .ModalWrap:has(.Projects) {
        width: 96.5vw;
        top: 0;
        left: 0;
    }
}